*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.opensdf
*.sdf
*.suo
*.tlog
*.user
*.iobj
Project-Perfect-Citizen.VC.opendb
*.ilk
*.ipdb
*.suo
*.vcxproj
Project-Perfect-Citizen.v12.suo
Project-Perfect-Citizen/Project-Perfect-Citizen.vcxproj
