

body {
	background-color: #aaaaaa;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
a:visited {
	color:#ffffff;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#small_text {
	font-size: medium;
	text-align:justify;
	white-space: pre-line;
} 

#factSheetHTML a {
	color:blue;
}

p {
	text-align:justify;
	white-space: pre-line;	
}

li {
	margin: 1em 0;
}



.title_head {
	font-family: monospace;
	text-shadow: 2px 2px #000000;
	color:#ffffff;
	margin-left: 20px;
	margin-top: 20px;
}

.content {
	float:left;
	margin-right: 100px;
	margin-bottom: 100px;
	background-color:rgb(160,160,160);
	color:#00f500;
	padding: 2px;
	border: 1px solid;
	border-bottom-color: black;
	border-right-color: black;
	border-left-color: white;
	border-top-color: white;
	
}

.content_box {
	padding: 2px;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-left-color: black;
	border-top-color: black;
	height: intrinsic; 
	background-color:#aaaaaa;
}

.content_block {
	font-family: monospace;
	font-size: medium;
	margin:5px;
	color: #000000;
	height:intrinsic;
}

.inner_left {
	margin-left:25px;
	float: left;
}

.inner_right {
	margin-right:20px;
	float: right;
}



.sidebar_menu {
	float:left;
	font-family: monospace;
	width: 300px;
	text-align: left;
}

.sidebar_menu_item:hover {
	background-color:rgba(98,224,224,0.68);
	color:#ffffff;
	text-shadow: 1px 1px #000000;
	width: 90;
	list-style-type: none;
	padding: 6px;	
}

.button_box {
	color:black;
	padding: 10px;
	margin: 1px;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('button.png');
}

.button_box a {
	color:black;
	font-size: small;
}

.sidebar_menu_item {
	color:#ffffff;
	text-shadow: 1px 1px #000000;

	width: inherit;
	list-style-type: none;
	padding: 6px;
}


